@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

#feedback-container {
  color: white;
  width: 50%;
  margin-inline: auto;
  padding-top: 6em;
  padding-bottom: 4em;
  margin-top: 2.5em;

  h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
  }

  p {
    font-size: 1.45em;
    text-align: center;
    line-height: 1.5em;
  }

  .stars {
    margin-top: 2em;
    margin-bottom: 4em;
    text-align: center;
  }

  span {
    margin-inline: 0.3em;
  }

  .input-container {
    margin-top: 2em;
    input {
      background: none;
      background: none;
      border-bottom: 2px solid #97288c;
      border-inline: none;
      border-top: none;
      width: 98%;
      padding: 0.5em;
      color: white;
      font-family: "Inter", sans-serif;
      font-size: 20px;
    }
  }
}

button {
  background-color: #00ffff;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 23px;
  padding: 15px 40px;
  border: none;
  -webkit-box-shadow: 1px 1px 30px 2px rgba(0, 255, 255, 0.8);
  box-shadow: 1px 1px 30px 2px rgba(0, 255, 255, 0.8);
}

.btn-feedback {
  width: 50%;
  margin-inline: auto;
  text-align: center;
}

.thanks-container {
  font-size: 3em;
  text-align: center;
  line-height: 1.5em;
  color: white;
}

.btn-information {
  margin-top: -16px;
}

.thanks-container p {
  margin-top: 3em;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 1em;
}

.thanks-container span {
  font-size: 0.8em;
  font-weight: 300;
  font-family: "outfit";
}

.btn-newtry {
  font-size: 23px;
  display: block;
  margin: auto;
  margin-top: 25px;
  padding: 10px 10px;
  text-transform: uppercase;
}
p.moreInfoOur {
  margin-top: 50px;
  font-size: 0.6em;
  font-weight: 300;
  font-family: "outfit";
}
p.copyright {
  color: white;
  font-size: 10px;
  margin-top: 90px;
  font-weight: 200;
  font-family: "outfit";
}
