h1 {
  font-size: 3em;
  font-weight: bold;
}

/* RESULTS */

main {
  text-align: center;
  margin-top: 2em;
  color: white;
  font-size: 1.5em;
  line-height: 2.5em;
}

.circle-graphic,
.correct,
.wrong {
  display: inline-block;
  /* line-height: 1em; */
}

.correct,
.wrong {
  font-size: 2em;
  font-family: "Outfit", sans-serif;
}

.correct {
  margin-right: 3em;
}

.wrong {
  margin-left: 3em;
}

main .percentuale {
  font-weight: bold;
  /* line-height: 1em; */
}

main .questions {
  font-size: 0.4em;
  line-height: 1em;
}

#rate-us-button {
  background-color: transparent;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 23px;
  padding: 15px 70px;
  border: 2px solid white;
  color: white;
  margin-top: 1.5em;
  /* -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 255, 255, 0.8);
  box-shadow: 1px 1px 30px 2px rgba(0, 255, 255, 0.8); */
  margin-left: 1em;
}

#rate-us-button:hover {
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 255, 255, 0.8);
  box-shadow: 1px 1px 30px 2px rgba(0, 255, 255, 0.8);
}

/* GRAFICO A CIAMBELLA SVG */

/* Imposto la posizione e la dimensione del grafico */
.circle-graphic {
  position: relative;
  right: 15px;
  height: 400px;
  width: 400px;
}

/* Removes SVG styling that would hide the time label */
.base-chart__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
#base-chart__path-elapsed {
  stroke-width: 15px;
  stroke: red;
}

/* MOSTRA TESTO ALL'INTERNO DEL GRAFICO */
.base-chart__label {
  position: absolute;

  /* Size should match the parent container */
  width: 400px;
  height: 400px;

  /* Keep the label aligned to the top */
  top: 0;
  left: 15px;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 16px;
}

/* CREAZIONE SECONDO CERCHIO CON I COLORI VERDE E ROSSO */
.base-chart__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 15px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: inherit;

  /* Allows the ring to change color when the color value updates */
  /* stroke: currentColor; */
}

.results-questions {
  position: absolute;
  top: 115px;
  font-size: 16px;
  color: white;
  left: 100;
}
