h1 {
  font-size: 3em;
}
.transpTitle {
  color: white;
}

.containerMain {
  text-align: center;
}
.divQuestion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
}
.check:checked {
  background-color: red;
  color: yellow;
}
.colum {
  display: flex;
  flex-direction: column;
}
.button {
  width: 330px;
  height: 65px;
  margin: 2em;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgba(255, 255, 255, 0.115);
  color: white;
  font-weight: bold;
  box-shadow: -2px -3px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -2px -3px 0px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -2px -3px 0px 0px rgba(255, 255, 255, 0.75);
}
.footerQuestions {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  color: aliceblue;
}
.butt {
  background-color: rgb(255, 0, 178);
}
