.base-timer {
  margin-top: 5rem;
  margin-right: 5rem;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: rgb(255, 255, 255);
}

.base-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.blue {
  color: rgb(0, 255, 255);
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 45px;
  color: white;
}
.seconds {
  font-size: 1em;
}
.text {
  position: absolute;
  top: 115px;
  font-size: 13px;
  color: white;
  right: 122px;
}
